.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: 4px 6px 8px 0 rgba(0,0,0,.3),
  inset -10px -2px 15px 5px rgba(0,0,0,0.2),
  inset 8px 5px 8px 0 hsla(0,0%,100%,0.4);
  
  
}
.wave {
  position: relative;
  right: 30%;
  width: 160%;
  height: 160%;
  transform-origin: 50% 50%;
  border-radius: 78% 56%;
  animation: spin 7s infinite linear;
  z-index: -1;
  
}

.percentage {
  position: absolute;
  top: 75px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.386);
  font-size: 60px;
  font-weight: 800;
}

.votes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.token {
    text-align: center;
    color: rgb(56, 54, 54);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
